:host ::ng-deep .mat-tab-body-content {
  overflow-x: hidden !important;
  overflow-y: hidden !important;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */

  ::-webkit-scrollbar {
    display: none;  /* Safari and Chrome */
  }
}


